{% load i18n %}
{% load static %}



<h4 class="page-title">{% trans 'Indexes' %}</h4>

<div class="wrapper-hidder">
    <div class="customlogo"></div>
    <iframe style="background-color:#ffffff" frameborder="0" scrolling="no" height="285" width="300" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/market_quotes.php?tabs=1,2,3,4&tab_1=1,1691,2186&tab_2=166,167,168&tab_3=8849,8830,8836&tab_4=8900,8899,8895&select_color=000000&default_color=0059b0"></iframe>
</div>
