{% extends 'registration/base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans 'Reset password' %}
{% endblock %}

{% block form_title %}
    {% trans 'Reset password' %}
{% endblock %}

{% block form_description %}
    {% trans 'Enter your email address and we will send recovery instructions' %}
{% endblock %}

{% block form %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">{% trans 'Send mail' %}</button>
    </form>

{% endblock %}